force-app/main/default/flows/Opportunity_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Store_Get_Records_Results</name>
        <label>Store Get Records Results</label>
        <locationX>503</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sorted_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_opportunities</name>
        <label>Updated opportunities</label>
        <locationX>499</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_for_StageName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>viewAll</name>
        <choiceText>View All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_for_StageName</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for StageName</label>
        <locationX>709</locationX>
        <locationY>633</locationY>
        <assignNextValueToReference>currentItem_Filter_for_StageName</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>OpportunityRecord</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_StageName.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>viewAll</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Updated_opportunities</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sorted_Opportunity</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sorted Opportunity</label>
        <locationX>301</locationX>
        <locationY>420</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>OpportunityRecord</collectionReference>
        <connector>
            <targetReference>Opportunity_Review</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>isViewAll</name>
        <label>isViewAll?</label>
        <locationX>820</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_by_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>viewAll</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_StageName</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>stageNames</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Today_Minus_30</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Today() - 30)</expression>
    </formulas>
    <interviewLabel>Opportunity Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Opportunities</name>
        <label>Fetch Opportunities</label>
        <locationX>499</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Get_Records_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today_Minus_30</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Opportunity_Review</name>
        <label>Opportunity Review</label>
        <locationX>499</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isViewAll</targetReference>
        </connector>
        <fields>
            <name>Filter_by_Stage</name>
            <choiceReferences>stageNames</choiceReferences>
            <choiceReferences>viewAll</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>viewAll</defaultSelectedChoiceReference>
            <fieldText>Filter by Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OpportunityTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OpportunityRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ecc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StageName&quot;,&quot;guid&quot;:&quot;column-654f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-fdf2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;ExpectedRevenue&quot;,&quot;guid&quot;:&quot;column-8b49&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Expected Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-0a07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Fetch_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_for_StageName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
